*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgba(255, 255, 255, 1);
    
}

/* shared font style */
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

  font-style: normal;
}

header nav{
    width: 1600px;
    height: 92px;
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
    padding: 16px 120px 16px 120px;
}

header nav div{
width: 367px;
height: 24px;
display: flex;
/* flex-direction: row; */
justify-content: space-between;
align-items: center;
gap: 100;
}

.btn{
width: 164px;
height: 44px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 10;
padding: 12px 16px 12px 16px;
border-radius: 4px;
color: rgba(255, 255, 255, 1);
background-color: #30B868;
border: none;
font-size: 16px;
font-weight: 600;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
text-transform: capitalize;
}
