* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgba(255, 255, 255, 1);
}

/* shared font style */
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

  font-style: normal;
}

header nav {
  width: 1600px;
  height: 92px;
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  align-items: center;
  margin: 0px auto;
  padding: 16px 120px 16px 120px;
}

header nav div {
  width: 367px;
  height: 24px;
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  align-items: center;
}

.btn {
  width: 164px;
  height: 44px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 12px 16px 12px 16px;
  border-radius: 4px;
  color: rgba(255, 255, 255, 1);
  background-color: #30b868;
  border: none;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: capitalize;
}

.link {
  color: #000000;
  text-decoration: none;
}

.text-green {
  color: #469165;
}

.hero-section {
  background-image: url("./assets/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 674px;
  /* position: relative; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  /* margin: 115.5px 120px 179.5px 120px; */
  height: 379px;
  width: 1360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.slogan {
  font-size: 36px;
  height: 168px;
  width: 770px;
  text-align: center;
}

.slogan > h1 {
  color: #30b868;
}

.slogan > h1 > span {
  color: #ffffff;
}

.hero-content > p {
  margin: 0 auto;
  font-size: 18px;
  color: #ffffff;
  width: 770px;
  text-align: justify;
  line-height: 24px;
}

.early-access {
  width: 229px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  padding: 8px 12px 8px 12px;
  margin: 0px auto;
  border-radius: 1000px;
  background: rgba(255, 255, 255, 1);
}

.hero-buttons {
  display: flex;
  gap: 12px;
}

.hero-buttons > a {
  text-decoration: none;
}

.hero-button {
  font-size: 16px;
  font-weight: 700;
  padding: 16.5px 12px 16.5px 12px;
  border-radius: 4px;
  /* width: 198px; */
  display: flex;
  gap: 10px;
  align-items: center;
  border: none;
}

.bg-green{
  background-color: #469165;
  color: #ffffff;
}

.bg-transparent{
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 1);
  color: #FFFFFF;
}


.card-section{
  height: 448px;
  text-align: center;
  background-color: rgba(251, 251, 251, 1);
}

.card-header{
  height: 117px;
  text-align:center;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 16px;
}

.card-section > .card-header > h1{
  font-size: 48px;
  color: #001931;
}

.card-section > .card-header > p{
  color: #627382;
  font-size: 16px;
}

.cards {
  margin: 0 120px 0 120px;
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
}

.card{
  height: 300px;
  width: 322px;
  padding: 24px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
}

.card > h2{
  font-size: 24px;
  color: #001931;
}

.card > p{
  font-size: 16px;
  color: #627382;
}

.card-img-bg{
  background-color: rgba(249, 85, 85, 1);
  width: 60px;
  height: 60px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card > img{
  width: 32px;
}


.bi-section{
  /* margin: 0 120px 0 120px; */
  padding: 120px;
  display: flex;
  gap: 60px;
  justify-content: center;
}

.bi-image > img{
  height: 600px;
  width: 600px;
}

.bi-content{
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 483px;
}

.bi-content > .top {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.bi-content > .top > span{
  color: #469165;
}

.bi-content > .top > h1{
  color: #001931;
  font-weight: bold;
  font-size: 48px;
}

.bi-content > .top > p{
  color: #627382;
}

.bi-content > .bottom > ul > li {
  list-style: none;
  padding-left: 28px;
  position: relative;
  padding: 6px 0;
  padding-left: 28px;
}

.bi-content > .bottom > ul > li::before {
  background: url("./assets/CheckCircle.png") no-repeat center;
  background-size: contain;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  content: "";
}
