* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgba(255, 255, 255, 1);
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

  font-style: normal;
}

header nav {
  height: 92px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px auto;
  padding: 16px 120px 16px 120px;
}

.nav-button {
  background-color: #469165;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
  padding: 16.5px 12px 16.5px 12px;
  border-radius: 4px;
  display: flex;
  gap: 10px;
  align-items: center;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}

.nav-button:hover{
  outline: 1px solid #000000;
  background-color: transparent;
  color: #000000;
}

header nav div {
  width: 367px;
  height: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  color: #000000;
  text-decoration: none;
  transition: all 0.3s;
}

.link:hover{
  color: #469165;
}

.text-green {
  color: #469165;
}

.hero-section {
  background-image: url("./assets/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 674px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  height: 379px;
  width: 1360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.slogan {
  font-size: 36px;
  height: 168px;
  width: 770px;
  text-align: center;
}

.slogan > h1 {
  color: #30b868;
}

.slogan > h1 > span {
  color: #ffffff;
}

.hero-content > p {
  margin: 0 auto;
  font-size: 18px;
  color: #ffffff;
  width: 770px;
  text-align: justify;
  line-height: 24px;
}

.early-access {
  width: 229px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  padding: 8px 12px 8px 12px;
  margin: 0px auto;
  border-radius: 1000px;
  background: rgba(255, 255, 255, 1);
  border: none;
  cursor: pointer;
}

.hero-buttons {
  display: flex;
  gap: 12px;
}

.hero-buttons > a {
  text-decoration: none;
}

.hero-button {
  font-size: 16px;
  font-weight: 700;
  padding: 16.5px 12px 16.5px 12px;
  border-radius: 4px;
  display: flex;
  gap: 10px;
  align-items: center;
  border: none;
  cursor: pointer;
}

.bg-green{
  background-color: #469165;
  color: #ffffff;
  transition: all 0.3s;
}

.bg-green:hover{
  background-color: transparent;
  outline: 1px solid #FFFFFF;
}

.bg-transparent{
  background-color: transparent;
  outline: 1px solid rgba(255, 255, 255, 1);
  color: #FFFFFF;
  transition: all 0.3s;
}
.bg-transparent:hover{
  background-color: #469165;
  outline: none;
}


.card-section{
  padding: 32px 0;
  text-align: center;
  background-color: rgba(251, 251, 251, 1);
}

.card-header{
  height: 117px;
  text-align:center;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 16px;
}

.card-section > .card-header > h1{
  font-size: 48px;
  color: #001931;
}

.card-section > .card-header > p{
  color: #627382;
  font-size: 16px;
}

.cards {
  margin: 0 120px 0 120px;
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: space-between;
}

.card{
  height: 322px;
  padding: 24px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
}

.card > h2{
  font-size: 24px;
  color: #001931;
}

.card > p{
  font-size: 16px;
  color: #627382;
}

.card-img-bg{
  background-color: rgba(249, 85, 85, 1);
  width: 60px;
  height: 60px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card > img{
  width: 32px;
}


.bi-section{
  padding: 120px;
  display: flex;
  gap: 60px;
  justify-content: start;
}

.bi-image > img{
  height: 600px;
  width: 600px;
}

.bi-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 40px;
  width: 500px;
}

.bi-content > .top {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.bi-content > .top > span{
  color: #469165;
}

.bi-content > .top > h1{
  color: #001931;
  font-weight: bold;
  font-size: 48px;
}

.bi-content > .top > p{
  color: #627382;
}

.bi-content > .bottom > ul > li {
  list-style: none;
  padding-left: 28px;
  position: relative;
  padding: 6px 0;
  padding-left: 28px;
}

.bi-content > .bottom > ul > li::before {
  background: url("./assets/CheckCircle.png") no-repeat center;
  background-size: contain;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  content: "";
}


.uni-section{
  padding: 2px 120px 120px 120px;
}
.uni-container {
  padding: 80px 40px;
  background-color: #F7F6F2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  border-radius: 12px;
}

.uni-container .first{
  width: 600px;
  text-align: center;
}

.uni-container .first, .second{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.uni-container .first >h1{
  color: #001931;
  font-size: 40px;
  font-weight: bold;
}

.uni-container .first, .second > p{
  color: #627382;
}

.uni-container .first{
  gap: 2;
}
.uni-container > .second >  a > button{
  padding: 12px 16px;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #469165;
  border: none;
  border-radius: 4px;
  color: #FFFFFF;
  transition:all 0.3s;
}

.uni-container > .second >  a > button:hover{
  background-color:  #2c6243;
}

.uni-container .second > a{
  text-decoration: none;
  box-shadow:  0px 10px 20px 0px rgba(0, 0, 0, 0.15);;
}

.footer-section{
  background-color: #001931;
  padding: 120px 120px 30px 120px;
  gap: 80px;
  display: flex;
  flex-direction: column;
}

.footer-section .footer-top{
  display: flex;
  justify-content: space-between;
}

.footer-top .social{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-top .social .icons{
  display: flex;
  gap: 16px;
  cursor: pointer;
}

.footer-top .social >h2{
  font-size: 20px;
  font-weight: 500;
  color: #FFFFFF;
}

.footer-section >p{
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
}